{{page-title 'AppOne'}}

<NavBar />

<div class='py-4 text-center'>
  <h4>
    Shared token from the App one
  </h4>
</div>

<div class='container'>
  {{! template-lint-disable deprecated-inline-view-helper }}
  <JsonEditor
    @json={{this.tokenForDisplay}}
    @name={{'Shared Token'}}
    @mode={{'view'}}
    @expand={{true}}
  />
  <div class='pt-3'>
    {{#let this.model.loadMeTask.value as |user|}}
      <div class='card' style='width: 18rem;'>
        <div class='card-body'>
          <h5 class='card-title'>
            {{user.name}}
          </h5>
          <p class='card-text'>
            {{user.email}}
          </p>
          <p class='card-text'>
            {{user.bio}}
          </p>
        </div>
      </div>
    {{/let}}
  </div>

<div class="pt-3 text-end">
  <button type='button' class='btn btn-outline-secondary' {{on 'click' this.refreshSongsInStore}}>
    Reload Songs
  </button>
</div>

  <div class='py-3'>
    <ul class='list-group'>
      <li class='list-group-item active' aria-current='true'>
        Songs call made by ember-data with token to Mirage
      </li>

      {{! template-lint-enable deprecated-inline-view-helper }}
      {{#each this.model.loadSongsTask.value as |song|}}
        <li class='list-group-item d-flex justify-content-md-between'>
          <span>
            {{song.title}}
          </span>
          <span>
            {{song.year}}
          </span>
          <span>
            By: {{song.author}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}